@import '../../assets/styles/_consts';

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;

    .grid-container-sub-1 {
        display: grid;
        @include happyOrangeGradient;
        color: #fff;
        grid-template-rows: 400px;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 570px 570px auto;
        }

        .grid-item-1 {
            color: #fff;
            grid-row: 1;
            padding-top: 130px;

            @media screen and (max-width: $smallBreakpoint) {
                padding-top: 90px;
            }

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 2 / 3;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                grid-column: 2 / 3;
                padding-right: 100px;
            }

            >h1 {
                font-weight: lighter;
                font-size: 3rem;

                @media screen and (max-width: $smallBreakpoint) {
                    font-size: 2.5rem;
                    margin-bottom: 0;
                }

            }

            >h2 {
                font-weight: lighter;
                font-size: 1.5rem;

                @media screen and (max-width: $smallBreakpoint) {
                    font-size: 1.2rem;
                    padding-right: 50px;
                }

            }

        }

        .grid-item-2 {
            grid-column: 3 / 4;
            grid-row: 1;

            @media screen and (max-width: $smallBreakpoint) {
                text-align: center;
            }

            .img--about-us-aicura-ducks {
                width: auto;

                @media screen and (max-width: $smallBreakpoint) {
                    height: 140px;
                    margin-top: 220px;
                    margin-left: -60px;
                }

                @media screen and (min-width: $smallBreakpoint) {
                    height: 200px;
                    margin-top: 130px;
                }

                @media screen and (min-width: $mediumBreakpoint) {
                    height: 250px;
                    margin-top: 110px;
                }

                @media screen and (min-width: $largeBreakpoint) {
                    height: 280px;
                    margin-top: 90px;
                }

                @media screen and (min-width: $extraLargeBreakpoint) {
                    height: 300px;
                    margin-top: 90px;
                }

            }

        }

    }

    .grid-container-sub-2 {
        display: grid;
        background: #fff;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: auto auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 540px 360px auto;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 684px 456px auto;
            grid-template-rows: 400px;
        }

        .grid-item-3 {
            grid-row: 1;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                margin-top: 50px;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                margin: 50px 0;
                grid-row: 1;
                text-align: left;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 2 / 3;
                margin: 50px 0;
                padding-right: 50px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                padding-top: 40px;
                padding-right: 100px;
            }


            >p {
                margin: 5px;
            }

        }

        .grid-item-4 {
            grid-row: 1;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 3 / 4;
                margin: 50px 0;
                padding-left: 70px;
                text-align: left;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 3 / 4;
                margin: 50px 0;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                grid-column: 3 / 4;
                padding-left: 50px;
                padding-right: 100px;
                padding-top: 40px;
            }

            >h1 {
                margin-top: 0;
                font-weight: lighter;
            }

        }

    }

    .grid-container-sub-3 {
        display: grid;
        @include chilledBlueGradient;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: auto auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
            grid-template-rows: 600px;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
            grid-template-rows: 600px;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 456px 684px auto;
            grid-template-rows: 600px;
        }

        .grid-item-5 {
            grid-row: 1;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 1;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                text-align: center;
                padding-top: 100px;
                padding-right: 20px;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 2 / 3;
                text-align: center;
                padding-top: 100px;
                padding-right: 20px;
            }

            >img {
                height: 450px;
                width: auto;
            }

        }

        .grid-item-6 {
            grid-row: 1;
            color: #fff;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 3 / 4;
                padding-top: 80px;
                padding-right: 20px;
                grid-row: 1;
                text-align: left;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 3 / 4;
                padding-right: 100px;
                padding-top: 75px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                grid-column: 3 / 4;
                padding-right: 150px;
                padding-left: 50px;
                padding-top: 110px;
            }

            >h1 {
                font-weight: lighter;
            }

            >p {
                font-size: 1.2rem;
            }

        }

    }

    // .grid-container-sub-4 {
    //   display: grid;
    //   background: #fff;

    //   @media screen and (min-width: $largeBreakpoint) {
    //     grid-template-columns: auto 900px auto;
    //     grid-template-rows: 700px;
    //   }

    //   @media screen and (min-width: $extraLargeBreakpoint) {
    //     grid-template-columns: auto 1140px auto;
    //     grid-template-rows: 700px;
    //   }

    //   .grid-item-7 {
    //     grid-column: 2 / 3;
    //     grid-row: 1;
    //     text-align: center;

    //     > p {
    //       width: 80%;
    //       margin: 0 10%;
    //     }

    //     > img {
    //       width: 100%;
    //       height: auto;
    //       border-radius: 20px;
    //       -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
    //       -moz-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
    //       box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
    //     }

    //   }

    // }

    .grid-container-sub-5 {
        display: grid;
        background: #E8E8E8;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: auto auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
            grid-template-rows: 600px;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 570px 570px auto;
            grid-template-rows: 600px;
        }

        .grid-item-8 {

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                margin: 90px 0;
                padding-left: 50px;
                grid-row: 1;
                text-align: left;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 2 / 3;
                padding-top: 20px;
                padding-left: 50px;
                padding-right: 50px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                grid-column: 2 / 3;
                padding-top: 50px;
                padding-left: 50px;
                padding-right: 100px;
            }

            >h1 {
                font-weight: lighter;

                @media screen and (min-width: $mediumBreakpoint) {
                    margin-top: 0;
                }

            }

            button {
                width: 300px;
            }

        }

        .grid-item-9 {
            grid-row: 1;
            text-align: center;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 1;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 3 / 4;
                padding-top: 100px;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 3 / 4;
                padding-top: 80px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                grid-column: 3 / 4;
                padding-top: 60px;
            }

            >img {
                width: auto;

                @media screen and (max-width: $smallBreakpoint) {
                    width: 250px;
                }

                @media screen and (min-width: $smallBreakpoint) {
                    height: 270px;
                }

                @media screen and (min-width: $mediumBreakpoint) {
                    height: 300px;
                    margin-top: 50px;
                }

                @media screen and (min-width: $largeBreakpoint) {
                    height: 350px;
                }

                @media screen and (min-width: $extraLargeBreakpoint) {
                    height: 400px;
                }

            }

        }

    }

    .grid-container-sub-6 {
        display: grid;
        background: #fff;
        padding: 50px 0;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: auto auto auto auto auto auto;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 16% 16% 16% 16% 16% 16% auto;
            grid-template-rows: 450px 350px;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 150px 150px 150px 150px 150px 150px auto;
            grid-template-rows: 400px auto;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 190px 190px 190px 190px 190px 190px auto;
            grid-template-rows: 400px auto;
        }

        .grid-item-10 {
            text-align: center;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 1;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 5;
                grid-row: 1;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 2 / 5;
                grid-row: 1;
            }

            >img {
                height: 350px;
                width: auto;

                @media screen and (max-width: $smallBreakpoint) {
                    height: 250px;
                }

                @media screen and (min-width: $smallBreakpoint) {
                    height: 250px;
                }

                @media screen and (min-width: $mediumBreakpoint) {
                    margin-top: 30px;
                }

                @media screen and (min-width: $extraLargeBreakpoint) {
                    margin-top: 50px;
                }

            }

        }

        .grid-item-11 {
            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 5 / 8;
                padding-left: 10px;
                grid-row: 1;
                text-align: left;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 5 / 8;
                padding-top: 10px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                grid-column: 5 / 8;
                padding-top: 50px;
                padding-left: 0;
            }

            >h1 {
                font-weight: lighter;
            }

        }

        .grid-item-12 {
            grid-row: 2;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 3;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 4;
                grid-row: 2;
                margin-top: -50px;
                margin-right: 10px;
                text-align: left;
            }

            @media screen and (min-width: $largeBreakpoint) {
                margin-top: -50px;
                margin-right: 10px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                margin-top: -50px;
                margin-right: 0;
            }

            >img {
                height: 100px;
                width: auto;

                @media screen and (max-width: $mediumBreakpoint) {
                    margin-top: 30px;
                }

            }

            >p {

                @media screen and (min-width: $extraLargeBreakpoint) {
                    padding-right: 50px;
                }

            }

        }

        .grid-item-13 {

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 4;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 4 / 6;
                grid-row: 2;
                text-align: left;
                margin-right: 10px;
                margin-top: 5px;
            }

            @media screen and (min-width: $largeBreakpoint) {
                margin-right: 10px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                margin-right: 0;
            }

            >img {
                height: 45px;
                width: auto;

                @media screen and (max-width: $mediumBreakpoint) {
                    margin-top: 30px;
                }

            }

            >p {

                @media screen and (min-width: $extraLargeBreakpoint) {
                    padding-right: 50px;
                }

            }

        }

        .grid-item-14 {

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 5;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 6 / 8;
                grid-row: 2;
                text-align: left;
            }

            @media screen and (min-width: $largeBreakpoint) {
                margin-right: 10px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                margin-right: 0;
            }

            >img {
                height: 50px;
                width: auto;

                @media screen and (max-width: $mediumBreakpoint) {
                    margin-top: 30px;
                }

            }

            >p {

                @media screen and (min-width: $extraLargeBreakpoint) {
                    padding-right: 50px;
                }

            }

        }

    }

    .grid-container-sub-7 {
        display: grid;
        background: #fff;
        border-top: 1px #E8E8E8 solid;
        padding: 50px 0;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            height: 600px;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 900px auto;
            grid-template-rows: 600px;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 1140px auto;
            grid-template-rows: 700px;
        }

        .grid-item-15 {
            grid-column: 2 / 3;
            grid-row: 1;

            >h1 {
                font-weight: lighter;
                text-align: center;
            }

            .what-they-say-card {
                width: 70%;
                margin: 0 auto;
                margin-top: 50px;
                @include happyOrangeGradient;
                border-radius: 10px;
                color: #fff;
                padding: 30px 50px;
                -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
                position: relative;

                @media screen and (max-width: $smallBreakpoint) {
                    width: 90%;
                    margin-top: 70px;
                    padding: 20px 10px;
                    margin-left: auto;
                    margin-right: auto;
                }

                @media screen and (max-width: $mediumBreakpoint) {}

                >.speech-marks-l {
                    height: 80px;
                    width: auto;
                    position: absolute;
                    margin-top: -80px;
                }

                >.speech-marks-r {
                    height: 80px;
                    width: auto;
                    float: right;
                }

                >p {
                    font-size: 1.3rem;
                    text-align: center;

                    @media screen and (max-width: $smallBreakpoint) {
                        font-size: 1.1rem;
                    }

                }

            }

        }

    }

    .grid-container-sub-8 {
        display: grid;
        background: #fff;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: 100px 150px;
            margin-top: 50px;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
            grid-template-rows: 100px;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
            grid-template-rows: 100px;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 570px 570px auto;
            grid-template-rows: 100px;
        }

    }



    .grid-item-footer-text {
        text-align: center;
        grid-column: 2 / 3;

        @media screen and (min-width: $mediumBreakpoint) and (max-width: $largeBreakpoint) {
            padding: 0 20px;
        }

        >h2 {
            color: $happyOrange;
        }

        a {
            color: $happyOrange;
        }

    }

    .grid-item-duck {
        height: 100%;
        width: auto;
        text-align: center;

        @media screen and (max-width: $mediumBreakpoint) {
            margin-top: 40px;
            grid-column: 2 / 3;
            grid-row: 2;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-column: 3 / 4;
            grid-row: 1;
        }

        .image--duck {
            height: 200px;
            width: auto;
            z-index: 1;

            @media screen and (max-width: $mediumBreakpoint) {
                margin-top: -10px;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                margin-top: -40px;
            }

            @media screen and (min-width: $largeBreakpoint) {
                margin-top: -30px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                height: 250px;
                margin-top: -70px;
                margin-right: 100px;
            }

        }

    }





    .blue-waves {
        overflow: hidden;
        z-index: -1;
        position: relative;
        top: 10px;

        path {
            stroke: #1499d6;
            stroke-width: 5px;
            fill: #1499d6;
        }

        svg {
            height: 70px;
            width: 4000px;
        }

    }

}

// Misc. styles
p {
    font-size: 1.3rem;
}

br {
    display: none;
}

br.keep {
    display: unset;
}