<div class="grid-container">

  <app-aicura-logo-white></app-aicura-logo-white>
  <app-navigation-toggle-white></app-navigation-toggle-white>

  <div class="grid-container-sub-1">
    <div class="grid-item-1">
      <h1>About us</h1>
      <h2>Welcome to our world</h2>
    </div>
    <div class="grid-item-2">
      <img src="{{ aboutUsDucksUrl }}" alt="about-us-aicura-ducks" class="img--about-us-aicura-ducks">
    </div>
  </div>

  <div class="grid-container-sub-2">
    <div class="grid-item-3">
      <p>We live for innovation. We’re continuously enhancing, upskilling and growing our developer
        community with the latest practices, quality measures and automation components.</p>
      <br class="keep">
      <p>All our
        development teams share resources, review deployments continuously and feed back in
        real time to ensure we’re all following the best possible coding practices and architectural
        decisions at all times.</p>
    </div>
    <div class="grid-item-4">
      <h1>We’re quirky,<br class="keep"> innovative players<br class="keep"> in a complex<br class="keep"> industry</h1>
    </div>
  </div>

  <div class="grid-container-sub-3">
    <div class="grid-item-5">
      <img src="{{ ourCeoUrl }}" alt="our-ceo">
    </div>
    <div class="grid-item-6">
      <h1>A message from the CEO</h1>
      <p><i>“Our experienced executive team has proven expertise in delivering within the strict banking
          regulatory environment. And our creative, knowledgeable delivery teams work to create
          exceptional digital products through a deep understanding of both financial innovation and
          traditional banking services. With offices in London, supported by a global team, Aicura is
          firmly positioned as a bridge between cutting edge technology leaders and traditional
          banking players in the era of open innovation.”</i>
        <br class="keep">
        <br class="keep">
        Eva Rossmar - CEO & Founder
      </p>
    </div>
  </div>

  <!-- <div class="grid-container-sub-4">
    <div class="grid-item-7">
      <h2>Our team</h2>
      <p>Our people bring experience from diverse backgrounds in the finance, technology and creative industries. We
        take pride in our work, and use innovation and professionalism to devise creative solutions that fully meet
        client needs.</p>
      <img src="" alt="">
    </div>
  </div> -->

  <div class="grid-container-sub-5">
    <div class="grid-item-8">
      <h1>Join the squad</h1>
      <p>We’re passionate about attracting outstanding engineers and developers and strive to nurture creativity in
        everyone. We’re advocates of the growth mindset and continuous professional development. Aicura is a
        collaborative, dynamic and fun place to work. We value a healthy work-life balance and fully support flexible
        and remote working.</p>
      <a href="/contact"><button class="button__orange-gradient">Say hello... you know you want to</button></a>
    </div>
    <div class="grid-item-9">
      <img src="{{ joinTheSquadUrl }}" alt="join-the-squad">
    </div>
  </div>

  <div class="grid-container-sub-6">
    <div class="grid-item-10">
      <img src="{{ aicuraPigUrl }}" alt="aicura-pig">
    </div>
    <div class="grid-item-11">
      <h1>Charitable giving</h1>
      <p>Eva and the team are passionate about social responsibility, so we donate at least 5% of our profits annually
        to charities.
        <br class="keep">
        <br class="keep">
        Aicura has close links with South Africa, and these groups have so far benefitted from donations:</p>
    </div>
    <div class="grid-item-12">
      <img src="{{ childrensLiteracyUrl }}" alt="childrens-literacy">
      <p>Their vision is to close the literacy gap for all disadvantaged children, to enable them to achieve their true
        potential. They provide specialist one-to-one literacy support for every disadvantaged child who is at risk of
        being left behind.</p>
    </div>
    <div class="grid-item-13">
      <img src="{{ qhubekaUrl }}" alt="qhubeka">
      <p>Bicycles are tools of change. Qhubeka uses bicycles to connect people to schools, clinics and jobs, as many
        communities with limited transport have restricted options.</p>
    </div>
    <div class="grid-item-14">
      <img src="{{ lidgettonUrl }}" alt="lidgetton">
      <p>This charity was launched in 2001 to help AIDS orphans and vulnerable children in the community. They support
        the needy families who take orphans into their homes, enabling the children to stay in their communities.</p>
    </div>
  </div>

  <div class="grid-container-sub-7">
    <div class="grid-item-15">
      <h1>What they say....</h1>
      <div class="what-they-say-card">
        <img src="{{ speechMarksLUrl }}" class="speech-marks-l" alt="speech-marks-left">
        <p>
          <i>
            “We are delighted to work with Aicura to deliver Fintech innovation across our Digital and Product
            Businesses.
            They’re able to create amazingly quick solutions built on customer insight and excellent delivery engine.
            What’s more, they are extremely customer oriented, agile and scalable, making them an ideal fit for projects
            both large and small.
            We look forward to working with Aicura as we continue to create and test real, functional innovation for our
            colleagues and customers.”
            <br class="keep">
            <br class="keep">
            Head of Change Delivery, <br class="keep">Leading UK High Street Bank
          </i>
        </p>
        <img src="{{ speechMarksRUrl }}" class="speech-marks-r" alt="speech-marks-right">
      </div>
    </div>
  </div>

  <div class="grid-container-sub-8">
    <div class="grid-item-footer-text">
      <h2>Tricky tech issues?<br class="keep"> We love a challenge, so get in touch.</h2>
    </div>
    <div class="grid-item-duck">
      <img class="image--duck" src="{{ duckUrl }}" alt="aicura-duck-image">
    </div>
  </div>

  <div class="blue-waves">
    <svg>
      <path
        d="M 0 18 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0  l 0 50 l -880 200000 z" />
      zw
    </svg>
  </div>

  <app-footer></app-footer>

</div>