<div class="footer-wrapper">
  <div class="footer-1">

    <div class="footer-content">

      <div class="div__links">
        <a href="/">
          <p class="p--inline">Home</p>
        </a>
        <a href="/services">
          <p class="p--inline">Services</p>
        </a>
        <a href="/about-us">
          <p class="p--inline">About Us</p>
        </a>
        <a href="/our-team">
          <p class="p--inline">Our Team</p>
        </a>
        <a href="/insights">
          <p class="p--inline">Insights</p>
        </a>
        <a href="/contact">
          <p class="p--inline">Contact</p>
        </a>
      </div>

      <div class="div__logos">
        <a target="_blank" href="https://uk.linkedin.com/company/aicura-solutions" class="logo__margin">
          <i class="fab fa-linkedin-in fa-3x"></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCVPWX_c-91h71k1T4ypVK6Q" class="logo__margin">
          <i class="fab fa-youtube fa-3x"></i>
        </a>
      </div>

      <p>&copy; 2019 Aicura Solutions Limited. All rights reserved.</p>
      <p>Moor Place. 1 Fore Street. Moorgate. London. EC2Y 5EJ.</p>
      <p><a href="/policies">Privacy Policy</a> | <a href="/policies">Cookie Policy</a> | <a href="/policies">Terms
          of Service</a></p>
    </div>
  </div>
</div>