@import '../../assets/styles/_consts';

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;

    .grid-container-sub-1 {
        display: grid;
        @include happyOrangeGradient;
        color: #fff;
        grid-template-rows: 400px;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 570px 570px auto;
        }

        .grid-item-1 {
            color: #fff;
            grid-row: 1;
            padding-top: 130px;

            @media screen and (max-width: $smallBreakpoint) {
                padding-top: 90px;
            }

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 2 / 3;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                grid-column: 2 / 3;
                padding-right: 100px;
            }

            >h1 {
                font-weight: lighter;
                font-size: 3rem;

                @media screen and (max-width: $smallBreakpoint) {
                    font-size: 2.5rem;
                    margin-bottom: 0;
                }

            }

            >h2 {
                font-weight: lighter;
                font-size: 1.5rem;

                @media screen and (max-width: $smallBreakpoint) {
                    font-size: 1.2rem;
                }

            }

        }

        .grid-item-2 {
            grid-column: 3 / 4;
            grid-row: 1;

            @media screen and (max-width: $smallBreakpoint) {
                text-align: center;
            }

            .img--aicura-rubix-cube {
                width: auto;

                @media screen and (max-width: $smallBreakpoint) {
                    height: 170px;
                    margin-top: 200px;
                    margin-left: -60px;
                }

                @media screen and (min-width: $smallBreakpoint) {
                    height: 200px;
                    margin-top: 130px;
                }

                @media screen and (min-width: $mediumBreakpoint) {
                    height: 250px;
                    margin-top: 110px;
                }

                @media screen and (min-width: $largeBreakpoint) {
                    height: 280px;
                    margin-top: 80px;
                }

                @media screen and (min-width: $extraLargeBreakpoint) {
                    height: 300px;
                }

            }

        }

    }

    .grid-container-sub-2 {
        display: grid;
        background: #fff;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: auto auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 540px 360px auto;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 684px 456px auto;
        }

        .grid-item-3 {
            grid-row: 1;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                margin-top: 50px;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                margin: 50px 0;
                grid-row: 1;
                text-align: left;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 2 / 3;
                margin: 50px 0;
                padding-right: 50px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                padding-top: 0;
                padding-right: 100px;
            }


            >p {
                margin: 5px;
            }

        }

        .grid-item-4 {
            grid-row: 1;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 3 / 4;
                margin: 50px 0;
                padding-left: 70px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                padding-left: 50px;
            }

            >h1 {
                margin-top: 0;
                font-weight: lighter;
            }

        }

    }

    .grid-container-sub-3 {
        display: grid;
        @include chilledBlueGradient;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: auto auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 456px 684px auto;
        }

        .grid-item-5 {
            color: #fff;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 1;
                padding-top: 20px;
                padding-right: 20px;
            }

            @media screen and (min-width: $largeBreakpoint) {
                grid-column: 2 / 3;
                text-align: left;
                padding-top: 50px;
                padding-right: 20px;
            }

            >h1 {
                font-weight: lighter;
            }

            >img {
                height: 450px;
                width: auto;
            }

        }

        .grid-item-6 {
            color: #fff;
            text-align: center;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 1;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 3 / 4;
            }

            >img {
                height: 300px;
                width: auto;
                margin-top: 20px;

                @media screen and (max-width: $mediumBreakpoint) {
                    height: 250px;
                }

            }

        }

    }

    .grid-container-sub-4 {
        display: grid;
        background: #fff;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: auto auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 570px 570px auto;
        }

        .grid-item-08 {
            text-align: center;
            grid-column: 2 / 3;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-row: 1;
            }

            >img {
                width: auto;
                margin-top: 20px;

                @media screen and (max-width: $mediumBreakpoint) {
                    height: 200px;
                }

                @media screen and (min-width: $mediumBreakpoint) {
                    height: 250px;
                }

                @media screen and (min-width: $largeBreakpoint) {
                    height: 300px;
                }

            }

        }

        .grid-item-7 {

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 3 / 4;
                grid-row: 1;
                padding-top: 40px;
            }

            @media screen and (min-width: $largeBreakpoint) {
                padding-top: 70px;
            }

            >h1 {
                font-weight: lighter;
            }

        }

    }

    .grid-container-sub-5 {
        display: grid;
        background: #E8E8E8;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: auto auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 570px 570px auto;
        }

        .grid-item-8 {
            grid-row: 1;
            grid-column: 2 / 3;

            @media screen and (max-width: $mediumBreakpoint) {
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                padding-right: 20px;
                padding-top: 60px;
            }

            @media screen and (min-width: $largeBreakpoint) {
                padding-top: 80px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                padding-top: 110px;
            }

            >h1 {
                font-weight: lighter;

                @media screen and (min-width: $mediumBreakpoint) {
                    margin-top: 0;
                }

            }

            button {
                width: 300px;
            }

        }

        .grid-item-9 {
            text-align: center;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                margin-top: 40px;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 3 / 4;
                grid-row: 1;
            }

            >img {
                width: auto;

                @media screen and (max-width: $smallBreakpoint) {
                    width: 250px;
                }

                @media screen and (min-width: $smallBreakpoint) {
                    height: 270px;
                }

                @media screen and (min-width: $mediumBreakpoint) {
                    height: 300px;
                }

                @media screen and (min-width: $largeBreakpoint) {
                    height: 350px;
                }

                @media screen and (min-width: $extraLargeBreakpoint) {
                    height: 400px;
                }

            }

        }

    }

    .grid-container-sub-6 {
        display: grid;
        background: #fff;
        padding: 50px 0;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: auto auto auto auto auto auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
            grid-template-rows: auto auto auto;
            padding: 50px 0;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 570px 570px auto;
        }

        .grid-item-10 {
            text-align: center;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 1;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 1;
                padding: 50px 0;
            }

            >h1 {
                font-weight: lighter;
                font-size: 2.2rem;
                margin-bottom: 10px;
            }

        }

        .grid-item-11 {

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 3 / 4;
                grid-row: 1;
                padding: 50px 0;
            }

            >h1 {
                font-weight: lighter;
            }

            >p {
                padding-left: 20px;
            }

        }

        .grid-item-12 {
            margin-left: auto;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 3;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 2;
                padding-right: 10px;
            }

            .blue-card {
                @include chilledBlueGradient;
                border-radius: 10px;
                -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5);
                color: #fff;
                padding: 20px;
                text-align: center;

                @media screen and (max-width: $mediumBreakpoint) {
                    width: calc(90% - 40px);
                    height: 350px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 20px;
                }

                @media screen and (min-width: $mediumBreakpoint) {
                    width: 90%;
                    height: 350px;
                }

                @media screen and (min-width: $largeBreakpoint) {
                    width: 400px;
                    height: 350px;
                }

                >img {
                    height: 150px;
                    width: auto;
                    margin-top: 30px;
                }

            }

        }

        .grid-item-13 {

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 4;
                text-align: center;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 3 / 4;
                grid-row: 2;
                padding-left: 10px;
            }

            .blue-card {
                @include chilledBlueGradient;
                width: 400px;
                height: 350px;
                border-radius: 10px;
                -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5);
                color: #fff;
                padding: 20px;
                text-align: center;

                @media screen and (max-width: $mediumBreakpoint) {
                    width: calc(90% - 40px);
                    height: 350px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 20px;
                }

                @media screen and (min-width: $mediumBreakpoint) {
                    width: 90%;
                    height: 350px;
                }

                @media screen and (min-width: $largeBreakpoint) {
                    width: 400px;
                    height: 350px;
                }

                >img {
                    height: 150px;
                    width: auto;
                    margin-top: 30px;

                    @media screen and (max-width: $mediumBreakpoint) {}

                }

            }

        }

        .grid-item-14 {
            text-align: center;

            @media screen and (max-width: $mediumBreakpoint) {
                grid-column: 2 / 3;
                grid-row: 5;
                margin-top: 20px;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                grid-column: 2 / 4;
                grid-row: 3;
                padding: 50px 0;
            }

        }

    }

    .grid-container-sub-7 {
        display: grid;
        background: #fff;
        border-top: 1px #E8E8E8 solid;
        padding: 50px 0;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            height: 600px;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 900px auto;
            grid-template-rows: 600px;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 1140px auto;
            grid-template-rows: 700px;
        }

        .grid-item-15 {
            grid-column: 2 / 3;
            grid-row: 1;

            >h1 {
                font-weight: lighter;
                text-align: center;
            }

            .what-they-say-card {
                width: 70%;
                margin: 0 auto;
                margin-top: 50px;
                @include happyOrangeGradient;
                border-radius: 10px;
                color: #fff;
                padding: 30px 50px;
                -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
                position: relative;

                @media screen and (max-width: $smallBreakpoint) {
                    width: 90%;
                    margin-top: 70px;
                    padding: 20px 10px;
                    margin-left: auto;
                    margin-right: auto;
                }

                @media screen and (max-width: $mediumBreakpoint) {}

                >.speech-marks-l {
                    height: 80px;
                    width: auto;
                    position: absolute;
                    margin-top: -80px;
                }

                >.speech-marks-r {
                    height: 80px;
                    width: auto;
                    float: right;
                }

                >p {
                    font-size: 1.3rem;
                    text-align: center;

                    @media screen and (max-width: $smallBreakpoint) {
                        font-size: 1.1rem;
                    }

                }

            }

        }

    }

    .grid-container-sub-8 {
        display: grid;
        background: #fff;

        @media screen and (max-width: $mediumBreakpoint) {
            grid-template-columns: auto 96% auto;
            grid-template-rows: 100px 150px;
            margin-top: 50px;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-template-columns: auto 48% 48% auto;
            grid-template-rows: 100px;
        }

        @media screen and (min-width: $largeBreakpoint) {
            grid-template-columns: auto 450px 450px auto;
            grid-template-rows: 100px;
        }

        @media screen and (min-width: $extraLargeBreakpoint) {
            grid-template-columns: auto 570px 570px auto;
            grid-template-rows: 100px;
        }

    }



    .grid-item-footer-text {
        text-align: center;
        grid-column: 2 / 3;

        @media screen and (min-width: $mediumBreakpoint) and (max-width: $largeBreakpoint) {
            padding: 0 20px;
        }

        >h2 {
            color: $happyOrange;
        }

        a {
            color: $happyOrange;
        }

    }

    .grid-item-duck {
        height: 100%;
        width: auto;
        text-align: center;

        @media screen and (max-width: $mediumBreakpoint) {
            margin-top: 40px;
            grid-column: 2 / 3;
            grid-row: 2;
        }

        @media screen and (min-width: $mediumBreakpoint) {
            grid-column: 3 / 4;
            grid-row: 1;
            text-align: right;
        }

        .image--duck {
            height: 200px;
            width: auto;
            z-index: 1;

            @media screen and (max-width: $mediumBreakpoint) {
                margin-top: -10px;
            }

            @media screen and (min-width: $mediumBreakpoint) {
                margin-top: -40px;
            }

            @media screen and (min-width: $largeBreakpoint) {
                margin-top: -30px;
            }

            @media screen and (min-width: $extraLargeBreakpoint) {
                height: 250px;
                margin-top: -70px;
                margin-right: 100px;
            }

        }

    }





    .blue-waves {
        overflow: hidden;
        z-index: -1;
        position: relative;
        top: 10px;

        path {
            stroke: #1499d6;
            stroke-width: 5px;
            fill: #1499d6;
        }

        svg {
            height: 70px;
            width: 4000px;
        }

    }

}

// Misc. styles
p {
    font-size: 1.3rem;
}

br {
    display: none;
}

br.keep {
    display: unset;
}