<div class="grid-container">

  <app-aicura-logo-white></app-aicura-logo-white>
  <app-navigation-toggle-white></app-navigation-toggle-white>

  <div class="grid-container-sub-1">
    <div class="grid-item-1">
      <h1>Services</h1>
      <h2>Fintech’s finest</h2>
    </div>
    <div class="grid-item-2">
      <img src="{{ rubixUrl }}" alt="aicura-rubix-cube" class="img--aicura-rubix-cube">
    </div>
  </div>

  <div class="grid-container-sub-2">
    <div class="grid-item-3">
      <p>We develop, build, launch, run, and scale innovative software services for major banks and their millions of
        customers.
        <br class="keep">
        <br class="keep">
        A digital banking accelerator with over a decade of industry experience, we drive innovation and digital
        delivery in the financial sector with great ideas; executed, shipped and maintained professionally, and at
        speed.
        <br class="keep">
        <br class="keep">
        We provide a range of solutions, from sandbox innovation and API management to full regulator-approved software
        delivery.
      </p>
    </div>
    <div class="grid-item-4">
      <h1>At your service</h1>
    </div>
  </div>

  <div class="grid-container-sub-3">
    <div class="grid-item-5">
      <h1>Innovate</h1>
      <p>We use rapid service design and customer insight to run secure sandboxes on behalf of innovation teams looking
        to refine and prioritise new concepts.</p>
    </div>
    <div class="grid-item-6">
      <img src="{{ aicuraDotUrl }}" alt="aicura-dot">
    </div>
  </div>

  <div class="grid-container-sub-4">
    <div class="grid-item-08">
      <img src="{{ boxesUrl }}" alt="aicura-boxes">
    </div>
    <div class="grid-item-7">
      <h1>Build</h1>
      <p>We build professional, cutting-edge fintech using microservice design, leading agile practices, and the latest
        technology stack on our PaaS set-up.</p>
    </div>
  </div>

  <div class="grid-container-sub-5">
    <div class="grid-item-8">
      <h1>Run</h1>
      <p>We deliver, run and service live, enterprise-critical software (eg onboarding and document management) at
        scale, with major UK banks, on our platform.</p>
    </div>
    <div class="grid-item-9">
      <img src="{{rocketUrl}}" alt="aicura-run-rocket">
    </div>
  </div>

  <div class="grid-container-sub-6">
    <div class="grid-item-10">
      <h1>Why Aicura?</h1>
      <img src="{{ underlineUrl }}" alt="aicura-underline">
    </div>
    <div class="grid-item-11">
      <p>We’re not your typical fintech company and we don’t think banking should be boring – we’re trusted, talented
        and experienced, but also a joy to work with.</p>
    </div>
    <div class="grid-item-12">
      <div class="blue-card">
        <img src="{{ block1Url }}" alt="block-one">
        <p>We love innovating and discovering new tech. We make it our mission to find the best frameworks,
          methodologies and solutions for our clients. </p>
      </div>
    </div>
    <div class="grid-item-13">
      <div class="blue-card">
        <img src="{{ block2Url }}" alt="block-two">
        <p>We’re forward-thinking, focused and fun. We’re exceptional, professional and adaptable.</p>
      </div>
    </div>
    <div class="grid-item-14">
      <p>That’s why leading financial institutions choose us to develop market-leading digital delivery for their
        customers, ranging from prototyping through to 24/7 servicing of enterprise critical live services.</p>
    </div>
  </div>

  <div class="grid-container-sub-7">
    <div class="grid-item-15">
      <h1>What they say....</h1>
      <div class="what-they-say-card">
        <img src="{{ speechMarksLUrl }}" class="speech-marks-l" alt="speech-marks-left">
        <p>
          <i>
            “We are delighted to work with Aicura to deliver Fintech innovation across our Digital and Product
            Businesses.
            They’re able to create amazingly quick solutions built on customer insight and excellent delivery engine.
            What’s more, they are extremely customer oriented, agile and scalable, making them an ideal fit for projects
            both large and small.
            We look forward to working with Aicura as we continue to create and test real, functional innovation for our
            colleagues and customers.”
            <br class="keep">
            <br class="keep">
            Head of Change Delivery, <br class="keep">Leading UK High Street Bank
          </i>
        </p>
        <img src="{{ speechMarksRUrl }}" class="speech-marks-r" alt="speech-marks-right">
      </div>
    </div>
  </div>

  <div class="grid-container-sub-8">
    <div class="grid-item-footer-text">
      <h2>Tricky tech issues?<br class="keep"> We love a challenge, so <a href="/contact">get in touch</a>.</h2>
    </div>
    <div class="grid-item-duck">
      <img class="image--duck" src="{{ duckUrl }}" alt="aicura-duck-image">
    </div>
  </div>

  <div class="blue-waves">
    <svg>
      <path
        d="M 0 18 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0  l 0 50 l -880 200000 z" />
      zw
    </svg>
  </div>

  <app-footer></app-footer>

</div>