<div class="grid-container">

  <app-aicura-logo-white></app-aicura-logo-white>

  <div class="grid-container-sub-1">
    <div class="grid-item-1">
      <h1>Policies</h1>
      <p>We will never collect or disclose your information without your consent or outside of the appropriate ethical
        and regulatory fr‍‍‍amework.</p>
      <div class="grid-item-2"></div>
    </div>
  </div>

  <div class="grid-container-sub-2">
    <div class="grid-item-3">
      <h3>For more information, download a copy of our privacy policy.</h3>
      <a href="{{ privacyPolicyUrl }}"><button class="button__orange-gradient">Download Privacy Policy</button></a>
    </div>
  </div>
</div>

<app-footer></app-footer>
