<div class="grid-container">

  <app-aicura-logo-white></app-aicura-logo-white>
  <app-navigation-toggle-white></app-navigation-toggle-white>

  <div class="grid-container-sub-1">
    <div class="grid-item-1">
      <h1>Contact Us</h1>
    </div>
    <div class="grid-item-2"></div>
  </div>

  <div class="grid-container-sub-2">
    <div class="grid-item-5">
      <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h2>
    </div>
    <div class="grid-item-3">
      <form class="contact-form" action="" method="POST">
        <p>Name</p>
        <input type="text" name="name">
        <p>E-mail address</p>
        <input type="email" name="email">
        <p>What's shakin'?</p>
        <textarea name="message" rows="4"></textarea>
        <input type="submit" class="button__orange-gradient" value="Submit">
      </form>
    </div>
    <div class="grid-item-4">
      <div class="contact-card">
        <ul>
          <li><i class="fas fa-map-marker-alt"></i>1 Fore Street, London</li>
          <li><i class="fas fa-phone"></i>+44 (0) 35 8512 7924</li>
        </ul>
      </div>
    </div>
    <div class="grid-item-6">
      <h2 class="padding-10">Tricky tech issues?<br class="keep"> We love a challenge, so get in touch.</h2>
    </div>
    <div class="grid-item-7">
      <img class="image--duck" src="{{ duckUrl }}" alt="aicura-duck-image">
    </div>
  </div>


  <div class="blue-waves">
    <svg>
      <path
        d="M 0 18 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0  l 0 50 l -880 200000 z" />
      zw
    </svg>
  </div>

  <app-footer></app-footer>
</div>