<div class="grid-container">

  <app-aicura-logo-white></app-aicura-logo-white>

  <div class="grid-container-sub-1">
    <div class="grid-item-1">
      <h1>Contact</h1>
    </div>
    <div class="grid-item-2"></div>
  </div>

  <div class="grid-container-sub-2">
    <div class="grid-item-3">
      <form class="contact-form" action="#">
        <p>Name</p>
        <input type="text" name="name">
        <p>Email</p>
        <input type="email" name="email">
        <p>Your message</p>
        <textarea name="message" rows="4"></textarea>
        <input type="submit" class="button__orange-gradient" value="Submit">
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</div>
