<div class="grid-container">
  <app-aicura-logo-white></app-aicura-logo-white>
  <app-navigation-toggle-white></app-navigation-toggle-white>

  <div class="grid-container-sub-1">
    <div class="grid-item-1">
      <h1>Contact Us</h1>
      <h1 class="sub-heading">We love a chat</h1>
    </div>
    <div class="grid-item-2">
      <img src="{{ teethUrl }}" alt="aicura-teeth" class="img--aicura-teeth" />
    </div>
  </div>

  <div class="grid-container-sub-2">
    <div class="grid-item-5">
      <h2>
        Drop us a line, send us an email or pick up the phone.<br
          class="keep"
        />We look forward to hearing from you.
      </h2>
    </div>
    <div class="grid-item-3">
      <form
        class="contact-form"
        action="#"
        [formGroup]="contactForm"
        (ngSubmit)="submitForm()"
      >
        <!-- Name -->
        <p>Name</p>
        <!-- <input type="text" formControlName="name" /> -->
        <input
          type="text"
          name="nameaksljf"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div *ngIf="submitted && f.name.errors">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>

        <!-- Email -->
        <p>E-mail address</p>

        <input
          type="text"
          name="emailaksljf"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">
            Email must be a valid email address
          </div>
        </div>

        <!-- Message -->
        <p>What's shakin'?</p>
        <textarea
          name="messageaksljf"
          rows="4"
          formControlName="message"
          [ngClass]="{ 'is-invalid': submitted && f.message.errors }"
        ></textarea>
        <div *ngIf="submitted && f.message.errors">
          <div *ngIf="f.message.errors.required">Message is required</div>
        </div>

        <!-- HP -->

        <label class="potdemiel" for="name"></label>
        <input
          class="potdemiel"
          autocomplete="new-password"
          type="text"
          id="name"
          name="name"
          placeholder="Your name here"
        />
        <label class="potdemiel" for="email"></label>
        <input
          class="potdemiel"
          autocomplete="new-password"
          type="email"
          id="email"
          name="email"
          placeholder="Your email here"
        />
        <label class="potdemiel" for="message"></label>
        <input
          class="potdemiel"
          autocomplete="new-password"
          type="text"
          id="message"
          name="message"
          placeholder="Your message here"
        />

        <button
          type="submit"
          class="button__orange-gradient"
          value="submit"
          ng-disabled="bdisabled"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="grid-item-4">
      <div class="contact-card">
        <ul>
          <li><i class="fas fa-map-marker-alt"></i>1 Fore Street, London</li>
          <li><i class="fas fa-phone"></i>+44 (0) 35 8512 7924</li>
        </ul>
      </div>
    </div>
    <div class="grid-item-6"></div>
    <div class="grid-item-7">
      <img class="image--duck" src="{{ duckUrl }}" alt="aicura-duck-image" />
    </div>
  </div>

  <div class="blue-waves">
    <svg>
      <path
        d="M 0 18 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0  l 0 50 l -880 200000 z"
      />
      zw
    </svg>
  </div>

  <app-footer></app-footer>
</div>
