<div class="grid-container">

  <app-aicura-logo-white></app-aicura-logo-white>
  <app-navigation-toggle-white></app-navigation-toggle-white>

  <div class="grid-container-sub-1">
    <div class="grid-item-1">
      <h1>Open [Source] Banking</h1>
      <h2>By Eddie Abou-Jaoude, <br class="keep">Senior FullStack Engineer</h2>
    </div>
  </div>

  <div class="grid-container-sub-2">
    <div class="grid-item-3">
      <p>Despite some recent advancements that have moved us closer to micro-service architecture and integration with
        3rd party services; banking has always been (and remains) a closed and secret space, comfy in the knowledge that
        it, as an industry, is safer and more secure than others. With other areas racing ahead and leaving banking in
        the 90s in terms of architecture, speed to market and other key digital survival factors, now there are more and
        more entrants taking on the challenge and trying to disrupt the space.</p>

      <p>A big part of this change is being more transparent and building an inclusive community which starts with
        opening up product backlogs, company insights and finally core technologies (long thought to be completely
        unique and clearly differentiated to the rest of the players in the field despite being built by almost the same
        people using the same methods).</p>

      <p>Open Source is a core component of this transition (or it is to the rest of the world rather) but its core
        components could be easily applied to financial services and in fact are being applied on one of our core
        projects thanks to some stellar ingenuity by engineers educating more and more product teams on the benefits of
        Open Source in the product roadmap. Here are some core staples:</p>

      <ul>
        <li>Open Source has been around for a long time, and in recent years has seen a huge growth, with places like
          GDS
          going digital by default which includes open sourcing all their projects by default</li>

        <li>Open sourcing projects on platforms like GitHub know as “Social coding" allow the community to not only
          contribute but review work done by the core team making them feel proud of their work and adhering to best
          practices, this then also helps with the recruitment phase as there are already a pool of developers familiar
          and eager to work on the project</li>

        <li>Companies in FinServ embracing Open Source have the likes of Monzo, Starling bank, Google and Microsoft in
          their
          ranks and they are racing ahead to organise regular events such as hackathons and developer days to promote
          their community spirit (and their code bases)</li>
      </ul>
      <p>They aren’t alone though, in the Enterprise space there are countless examples of Open Source starting to
        become a
        prominent feature of architectural decisions and development practices with some listed below from government
        agencies through to major technology players and interoperability projects</p>

      <ul>
        <li><strong>Government:</strong> 58 gov agencies</li>
        <li><strong>Companies:</strong> RedHat, Canonical, Elasticsearch (aka Elastic), Netflix</li>
        <li><strong>Projects:</strong> Google with projects like Angular and Android, Microsoft with projects like
          VSCode & Typescript,
          Hashicorp with projects like Terraform</li>
      </ul>

      <p>Overall, Open Source builds a much stronger community spirit in the development community and allows the
        exploitation of 3rd party technology on an exchange basis which leads to richer products, better recognition in
        the market and major leaps in interoperability (Android was purposefully made to be Open Source for this reason
        quickly leaping to be the largest and most evolved mobile operating system). We hope it continues to proliferate
        in FinServ leading to better products, happier customers and more open minds!</p>

    </div>
    <div class="grid-item-4">
      <h2>Tricky tech issues?<br class="keep"> We love a challenge, so <a href="/contact">get in touch</a>.</h2>
    </div>
    <div class="grid-item-5">
      <img class="image--duck" src="{{ duckUrl }}" alt="aicura-duck-image">
    </div>
  </div>

  <div class="blue-waves">
    <svg>
      <path
        d="M 0 18 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0  l 0 50 l -880 200000 z" />
      zw
    </svg>
  </div>

  <app-footer></app-footer>
</div>