<div class="grid-container-main">

  <app-aicura-logo-orange></app-aicura-logo-orange>

  <div class="grid-container-night-sky">
    <div class="grid-item-hero">
      <h1>Launch faster</h1>
      <h3>Innovate with us, and get your next fintech project off the ground quickly, easily, and brilliantly.</h3>
      <button class="button__watch-video">Watch video</button>
    </div>
    <div class="grid-item grid-item-rocket">
      <img class="image--rocket" src="{{ imageUrl }}" alt="aicura-rocket-image">
    </div>
  </div>

  <div class="grid-container-white-clouds">
    <div class="grid-item grid-item-offset">
      <h3 class="h3--offset">We deliver cutting-edge software<br> for banks and their customers</h3>
    </div>
  </div>


  <div class="grid-container-orange-clouds">
    <div class="grid-item grid-item-orange-clouds-1">
      <h3>Think you know fintech?<br> Think again</h3>
    </div>
    <div class="grid-item grid-item-orange-clouds-2">
      <p>We can help you provide a better customer experience, at a lower cost, in a faster, more profitable and more
        agile way. Our solutions range from sandbox innovation and API management to full regulator-approved software
        delivery.</p>
    </div>
    <div class="grid-item grid-item-orange-clouds-card-1">
      <div class="plain-card card--tight-right">
        <h2>Innovate</h2>
      </div>
    </div>
    <div class="grid-item grid-item-orange-clouds-card-2">
      <div class="plain-card">
        <h2>Build</h2>
      </div>
    </div>
    <div class="grid-item grid-item-orange-clouds-card-3">
      <div class="plain-card card--tight-left">
        <h2>Run</h2>
      </div>
    </div>
  </div>


  <div class="grid-container-white-info">
    <div class="grid-item grid-item-white-info-1">
      <h1>Turning big builds<br> into child’s play</h1>
      <p>We’re passionate about technology and we’re experts in code. We love playing in the sandbox - exploring the
        possibilities of open-source software and third-party modules, to spark fast, fresh solutions to traditional
        banking problems. </p>
    </div>
    <div class="grid-item grid-item-white-info-2">
      <h1>An army of fintech talent,<br> ready to deploy</h1>
      <p>With decades of combined financial services experience, we work with the toughest compliance processes,
        architecture and budgets in the banking world. Mature, professional code standards, plus governance and
        protection built into every step, means there’s zero risk.</p>
      <a href="{{ meetTheTeamUrl }}"><button class="button__orange-gradient">Meet the team</button></a>
    </div>
  </div>

  <div class="grid-container-blue-info">
    <div class="grid-item grid-item-blue-info-1">
      <h1>Problem solving<br> is our speciality</h1>
      <p>We pride ourselves in attracting the highest-grade engineers and developers. Our talented, tech-savvy team is
        curious, dynamic and always ahead of the curve. They love using the latest tools and tech to create truly
        cutting-edge client software.</p>
      <a href="{{ contactUrl }}"><button class="button__orange-gradient">Want to join us?</button></a>
    </div>
    <div class="grid-item grid-item-blue-info-2">
      <h1>Get faster results</h1>
      <p>Powerful prototyping and rapid, agile sprints mean we refine and prioritise new concepts at speed, without
        disrupting your business operations. Our Vaultigo sandbox with ready-to-deploy solutions, API management and
        secure environment allow us to design, build and test more rapidly than most.</p>
    </div>
  </div>


  <div class="grid-container-grey-community">
    <div class="grid-item grid-item-grey-community-1"></div>
    <div class="grid-item grid-item-grey-community-2">
      <h1>At least 5% of Aicura profits go to charity</h1>
      <p>We may not be a big corporation, but social responsibility is hugely important to us. We donate at least 5%
        of
        our annual profits to community projects and, to date, we’ve supported Literacy Lab (The Children’s Literacy
        Charity), Qhubeka and Lidgetton Community Project. </p>
      <a href="{{ communityProjectsUrl }}"><button class="button__orange-gradient">Learn more</button></a>
    </div>
  </div>

  <div class="grid-container-white-happening">
    <div class="grid-item grid-item-white-happening-1">
      <h1>Insights</h1>
      <p>Tap into the awesome expertise of our team. We embrace collaboration and regularly give our people the
        opportunity to step into the spotlight and share their insights on our blog. </p>
    </div>
    <div class="grid-item grid-item-white-happening-2">
      <p>Card 1</p>
    </div>
    <div class="grid-item grid-item-white-happening-3">
      <p>Card 2</p>
    </div>
    <div class="grid-item grid-item-white-happening-4">
      <p>Card 3</p>
    </div>
    <div class="grid-item grid-item-white-happening-5">
      <a href="{{ seeAllPostsUrl }}"><button class="button__orange-gradient">See all posts</button></a>
    </div>
    <div class="grid-item grid-item-white-happening-6">
      <h2>Tricky tech issues?<br class="keep"> We love a challenge, so get in touch.</h2>
    </div>
    <div class="grid-item grid-item-white-happening-7"></div>
  </div>

  <app-footer></app-footer>


</div>
