<div class="grid-container">

  <app-aicura-logo-white></app-aicura-logo-white>
  <app-navigation-toggle-white></app-navigation-toggle-white>

  <div class="grid-container-sub-1">
    <div class="grid-item-1">
      <h1>We are on a mission</h1>
    </div>
    <div class="grid-item-2">
    </div>
  </div>

  <div class="grid-container-sub-2">
    <div class="grid-item-3">
      <p>We have always been proud of having great merchandise but there is one particular item that has gone viral with
        colleagues, friends, clients and innocent bystanders. We are of course talking about our ducks.
        <br class="keep">
        <br class="keep">
        As you can see they've been in some seriously cool, often wonderful and something weird places and we want to
        keep the adventure going. Why not join our challenge? Order a duck (or come collect one from our offices at
        Moorgate), upload a picture to this page - you may get featured on Instagram and even win a prize in our weekly
        Duck Off that is voted on by the Aicura community.
      </p>
    </div>
    <div class="grid-item-4">
      <img class="image--duck" src="{{ duckUrl }}" alt="aicura-duck-image">
    </div>
  </div>

  <div class="grid-container-sub-3">
    <div class="grid-item-5">
      <i class="fab fa-instagram fa-4x"></i>
      <h1>Duck Feed</h1>
    </div>
    <div class="grid-item-6">
      <!-- INSERT WIDGET HERE -->
    </div>
    <div class="grid-item-7">
      <h1 class="h1--hashtag">#</h1>
      <h1>DuckingGoodSoftware</h1>
    </div>
    <div class="grid-item-8">
      <button class="button__orange-gradient">Submit yours</button>
    </div>
  </div>

  <div class="grid-container-sub-4">
    <div class="grid-item-9">
      <h1>Grab a duck and join the fun!</h1>
    </div>
    <div class="grid-item-10">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Company">
      <input type="text" placeholder="Where should we send the duck?">
      <input class="button__orange-gradient" type="submit" value="Sign me up!">
    </div>
  </div>

  <div class="grid-container-sub-8">
    <div class="grid-item-footer-text">
      <h2>Tricky tech issues?<br class="keep"> We love a challenge, so get in touch.</h2>
    </div>
    <div class="grid-item-duck">
      <img class="image--duck" src="{{ duckUrl }}" alt="aicura-duck-image">
    </div>
  </div>

  <div class="blue-waves">
    <svg>
      <path
        d="M 0 18 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0 q 40 -30 80 0 q 40 40 80 0  l 0 50 l -880 200000 z" />
      zw
    </svg>
  </div>

  <app-footer></app-footer>

</div>